<div class="login ios login__container">

  <div class="login__input-group">

    <ion-input class="ios login__input login__input--username" fill="solid" label="Usuário" labelPlacement="floating"></ion-input>
    <!-- <div class="login__input__helper-text login__input__helper-text--login">Digite o nome que foi criado para o login</div> -->
  
    <ion-input class="ios login__input login__input--password" type="password" fill="solid" label="Senha" labelPlacement="floating"></ion-input>
    <!-- <div class="login__input__helper-text login__input__helper-text--password">Digite a sua senha</div> -->

    <ion-button class="ios login__button"  expand="full" size="default">Login</ion-button>

  </div>
  
</div>
